.pushable {
    height: 88vh;
    overflow: hidden;
    
  }
  
  .pusher > div {
    position: fixed;
    top: 45px;
    bottom: 45px;
    overflow-y: scroll !important;
    width: 100%;
  }
  .dashboardSidebarLeftMenu{
      width: 260px !important;
    
  }

  .dashboardSidebarRightMenu{
    width: 260px !important;
}
.dashboardSidebarBox{
  margin-top: -10px !important;
}
  .dashboardSidebarMenuItem{
      margin-top: 15px !important;
      font-family: 'Poppins',sans-serif !important;
  }
  .dashboardSidebarMenuItemText{
    font-family: 'Poppins',sans-serif !important;
    margin-top: 10px !important;
    font-weight: 700px !important;
    text-transform: capitalize !important;
  }
  .dashboardSidebarNav{
    border-radius: 0px !important;
    transition: all 0.3s ease;
    background-color: #ffffff !important;


}
.dashboardSidebarNavBrandImage{
    height: 50px !important;
}
.dahsboardSidebarWheelImg{
  height: 20px !important;
}
.dahsboardSidebarFamiesImg{
  height: 20px !important;
  margin-right: 5px !important;
}
.channelsBox{
  display: flex !important;
  align-items: center !important;
}

.dahboardSidebarAddChannelBtn{
  margin-top: 20px !important;
  color: #ffffff !important;
}
.friendBtn{
  display: flex !important;
  align-items: center !important;
  // justify-content:space-evenly !important;
  margin: 8px 0px !important;
}
.friendImage{
  margin-right: 20px !important;
  height: 25px !important;
  width: 25px !important;
}
.friendName{
  color: #ffffff !important;
  text-transform: capitalize !important;
  font-size: 12px !important;
  font-weight: 550 !important;
  font-family: 'Poppins',sans-serif !important;
}
.leftSidebarFriend{
  background-color: rgb(58, 58, 58) !important;
}
.dashboardSidebarFriendMenuItem:hover{
  background: none !important;
}
.showActiveSpan{
  width: 10px !important;
  height: 10px !important;
  background-color: #16AB39 !important;
  border-radius: 50% !important;
  position: absolute !important;
  top:20px !important;
  left: 35px !important;
  z-index: 1 !important;
}
.showInActiveSpan{
  background-color: #D01919 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  position: absolute !important;
  top:20px !important;
  left: 35px !important;
  z-index: 1 !important;
}
.famiesButton{
  display: flex !important;
  align-items: center !important;
}
.friendsBadge{
  margin-right: 10px !important;
}
.famZoneButton{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.famZoneIcon{
  margin-left: 10px !important;
  font-size: 15px !important;
}
@media only screen and (max-width: 1700px) {
  .dashboardSidebarLeftMenu{
    width: 205px !important;
  
}

.dashboardSidebarRightMenu{
  width: 205px !important;
}
  }
  @media only screen and (max-width: 768px) {
    .dashboardSidebarLeftMenu{
      width: 210px !important;
    
  }
  
  .dashboardSidebarRightMenu{
    width: 210px !important;
  }
    }