.pushable {
    height: 90vh;
    overflow: hidden;
    
  }
  
  .pusher > div {
    position: fixed;
    top: 45px;
    bottom: 45px;
    overflow-y: scroll !important;
    width: 100%;
  }
  .dashboardSidebarLeftMenu{
      width: 250px !important;
    
  }

  .dashboardSidebarRightMenu{
    width: 250px !important;
}
.dashboardSidebarBox{
  margin-top: -10px !important;
}
  .dashboardSidebarMenuItem{
      margin-top: 15px !important;
      font-family: 'Poppins',sans-serif !important;
  }
  .dashboardSidebarMenuItemText{
    font-family: 'Poppins',sans-serif !important;
    margin-top: 10px !important;
    font-weight: 700px !important;
  }
  .dashboardSidebarNav{
    border-radius: 0px !important;
    transition: all 0.3s ease;
    background-color: #ffffff !important;


}
.dashboardSidebarNavBrandImage{
    height: 50px !important;
}
.dahsboardSidebarWheelImg{
  height: 20px !important;
}
.channelsBox{
  display: flex !important;
  align-items: center !important;
}

.dahboardSidebarAddChannelBtn{
  margin-top: 20px !important;
}
.friendBtn{
  display: flex !important;
  align-items: center !important;
  justify-content:left;
}
.friendImage{
  margin-right: 20px !important;
  height: 25px !important;
  width: 25px !important;
}
.friendName{
  color: #ffffff !important;
}
@media only screen and (max-width: 1700px) {
  .dashboardSidebarLeftMenu{
    width: 200px !important;
  
}

.dashboardSidebarRightMenu{
  width: 200px !important;
}
  }