.famFriendRequestContainer{
    padding: 10px 30px !important;
    max-height: 80vh !important;
   overflow-y: auto;
  

}
.famFriendRequestDataBox{
    border: 1px solid white !important;
    
    padding: 15px !important;
    margin-top: 50px !important;
}
.requestsProfileName{
    margin-top: 8px !important;
}
.requestsButtons{
    margin-top: 8px !important;
}
.FamJamThoughts{
    margin-top: 20px !important;
}
.messageHeader{
    display: flex !important;
    justify-content: center !important;
}