.heroSectionContainer{
    margin-top: 70px !important;
    padding: 30px 50px !important;
}
.heroSectionRow{
    background: white !important;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 23px -7px rgba(71,71,71,0.69); 
    box-shadow: 0px 0px 23px -7px rgba(71,71,71,0.69);
    padding: 45px 0px !important;
}
.heroSectionHeader{
    font-family: 'Poppins',sans-serif !important;
    margin-top: 50px !important;
    font-size: 45px !important;
}
.headerSectionInfo{
    font-family: 'Roboto',sans-serif !important;
    font-size: 20px !important;
}
.arrowDownImg{
    margin-top: 70px !important;
}
.heroSectionAuthBtn{
    border: 2px solid black !important;
    font-family: 'Inter',sans-serif !important;
    background: transparent !important;
    font-size: 13px !important;
    margin-top: 50px !important;
}
.heroSectionAuthBtn:hover{
    background: black !important;
    color: white !important;
    border: 2px solid black !important;
    -webkit-box-shadow: 0px 0px 23px -7px rgba(71,71,71,0.69) !important; 
    box-shadow: 0px 0px 23px -7px rgba(71,71,71,0.69) !important;
}
.surpBoxImg{
    height: 40px !important;
}
@media only screen and (max-width: 600px) {
    .heroSectionHeroImage{
        margin-top: 50px !important;
    }
    .heroSectionHeader{
        font-size: 25px !important;
    }
    .heroSectionContainer{
        margin-top: 65px !important;
        padding: 20px 30px !important;
    }
    .heroSectionAuthBtn{
        margin-top: 25px !important;
    }
    .arrowDownImg{
        margin-top: 35px !important;
        height: 60px !important;
    }
    .headerSectionInfo{
        font-size: 15px !important;
    }
    .heroSectionRow{
        padding: 25px 0px !important;
    }
}
@media only screen and (min-width:601px) and (max-width: 768px) {
    
    .heroSectionHeader{
        font-size: 30px !important;
    }
    
}