.landingBackground{
        background-color: #d9e4f5 !important;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%) !important;
    padding: 50px 0px !important;
    
} 
.particles-bg-canvas-self{
   
    z-index: 0 !important;
}