.sidebarBack{
    background-color: #ffffff !important;

}
.sidebarContent{
    margin-top: 100px !important;
    margin-left: -30px !important;
    // display: flex !important;
    // justify-content: center !important;
    // align-items: center !important;
    // align-content: center !important;
}