.chatComponentContainer{
    padding: 10px 30px !important;
    max-height: 80vh !important;
   overflow-y: auto;
    
 
}
.chatMenu{
    display: flex !important;
    justify-content: center !important;
}

body ::-webkit-scrollbar-track{
    background: none !important;
}
.chatTypeColumn{
    display: flex !important;
   justify-content: space-between !important;
    position: fixed !important;
    bottom: 10px !important;
   
}
.chatComponentMessageType{
    width: 100% !important;
}
.chatSendButton{
    margin-left: 8px !important;
    background-color: transparent !important;
}
.chatSendIcon{
    color: white !important;
}
.react-emoji-picker--wrapper{
    left: 0 !important;
    position: absolute;
    bottom: 0;
    height: 357px;
    width: 338px;
    overflow: hidden;
    z-index: 10;

}
.react-emoji{
    flex-direction: row-reverse !important;
}
