.chatComponentContainer{
    padding: 10px 30px !important;
    max-height: 80vh !important;
   overflow-y: auto;
    
 
}
.chatMenu{
    display: flex !important;
    justify-content: center !important;
}
.chatColumn{
    // -webkit-box-shadow: 0px 0px 23px -7px rgba(71,71,71,0.59); 
    // box-shadow: 0px 0px 23px -7px rgba(71,71,71,0.59);
  
}
body ::-webkit-scrollbar-track{
    background: none !important;
}
.chatTypeColumn{
    display: flex !important;
    justify-content: center !important;
    position: fixed !important;
    bottom: 70px !important;
    margin-bottom: 30px !important;
}
.chatComponentMessageType{
    width: 100% !important;
}
.chatSendButton{
    margin-left: 3px !important;
}

